@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Bebas+Neue:regular);
@import url(https://fonts.googleapis.com/css?family=Rubik:regular,500);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grey-light: #cacaca;
  --red: #f10d48;
  --grey-light: #f3f3f3;
  --pink: #d785a1;
  --grey: #828282;

  --font-family: "Roboto", sans-serif;
  --second-family: "Bebas Neue", sans-serif;
  --third-family: "Rubik", sans-serif;
}

body {
  @apply font-roboto;
}

.container {
  @apply max-w-[1717px] mx-auto px-4;
}

.hero {
  background-color: #999;
  background-image: url("/hero-bg.jpg");
  background-position: center center; /* x y */
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.sliderWithSale .swiper-slide {
  opacity: 0.5;
  transition: transform 0.3s, opacity 0.3s;
}

.sliderWithSale .swiper-slide-active {
  transform: scale(1.1);
  opacity: 1;
  width: 990px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.description {
    display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 50%;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}